@import "mixins";

h1, h2 {
  margin: .5em .125em;
  padding: .25em;
  border-radius: .125em;
  background-color: #eeffee;
}

p {
  font-size: 20pt;
  background-color: #ffffee;
}

.list {
  ul {
    font-size: 18pt;
    list-style: square;
    li::before {
      content: counter(item) ":";
    }
    li {
      padding: .25em .5em;
      background-color: #f0e8f8;
      counter-increment: item;
      .flex(row);
      .count {
        margin: 0 1em;
        color: #143;
      }
      .name {
        color: #469;
      }
    }
  }
}

.item {
  div {
    .flex(row, center, flex-end);
  }
  span {
    color: orange;
  }
  // let's re-sort this they flex way!
  span.name {
    order: 1;
    -webkit-order: 1;
  }
  span.count {
    order: 2;
    -webkit-order: 2;
  }
  // and add some flavor
  span.name:before, span.name:after, span.count:after {
    margin: 0 .25em;
    display: inline-block;
  }
  span.name:before {
    content: "Weee ";
    color: blue;
  }
  span.name:after {
    content: " haz ";
    color: green;
  }
  span.count:after {
    content: " times more phun!";
    color: red;
  }
}
