.flex() {
  display: -webkit-flex;
  display: flex;
}

.flex(@direction) {
  .flex();
  flex-direction: @direction;
  -webkit-flex-direction: @direction;
}

.flex(@direction, @align) {
  .flex(@direction);
}
